/** Footer styles */
footer {
    background-color: $RCDarkBlue;
    padding: 1.5rem 5%;
    color: $RCYellow;
    .social-media {
        a {
            font-size: 1rem;
            color: $RCYellow;
        }
    }
}