/** Fonts */
.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

  
.sriracha-regular {
  font-family: "Sriracha", cursive;
  font-weight: 400;
  font-style: normal;
}

  
//   // @font-face {
//   //   font-family: "Poppins";
//   //   src: url("../../assets/fonts/BeVietnamPro-Bold.woff2") format("woff2"),
//   //     url("../../assets/fonts/BeVietnamPro-Bold.woff") format("woff");
//   //   font-weight: 700;
//   //   font-style: normal;
//   // }
  
//   @font-face {
//     font-family: "Poppins";
//     src: url("assets/fonts/Poppins-Regular.woff2") format("woff2"),
//       url("assets/fonts/Poppins-Regular.woff") format("woff");
//     font-weight: 400;
//     font-style: normal;
//   }
  
  $font-family: "Sriracha", cursive;
  $header-family: "Special Gothic Expanded One", sans-serif;
  
  body {
    font-family: $font-family;
  }
  