/** Global colours */



$White  : #ffffff;
$Black  : #000000;

$RCRed  : #89332a;
$RCBlue : #6086CA;
$RCYellow   : #FFB42C;

$RCDarkRed  : #1F0C0A;
$RCDarkBlue : #0A121F;
$RCDarkYellow   : #291B00;

$RCLightRed : #F0D4D1;
$RCLightBlue: #D1DDF0;
$RCLightYellow  : #FFEBC2;